Nodered-Flow.json
[{"id":"c5e19556.5b7488","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ecb9cf36.0b50a","type":"function","z":"c5e19556.5b7488","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":200,"wires":[["dc42ca6.a58cb38","cb9fa109.ee7db"]]},{"id":"dc42ca6.a58cb38","type":"watson-conversation-v1","z":"c5e19556.5b7488","name":"Priya-Resto_Assistant","workspaceid":"d6c4c48e-2baf-48eb-940f-5822236b6ad1","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a6bec941-b375-4c0b-b59f-60a3ea6b325a","timeout":"","optout-learning":false,"x":320,"y":200,"wires":[["41a35fd8.b18a9","a79eb08e.1ea89"]]},{"id":"a79eb08e.1ea89","type":"function","z":"c5e19556.5b7488","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://iili.io/3M7HNf.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":200,"wires":[["41a35fd8.b18a9","7e527118.bc525","24aeea74.7d3cb6","d6e1b027.68673","b5cb01af.59482"]]},{"id":"41a35fd8.b18a9","type":"debug","z":"c5e19556.5b7488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":400,"wires":[]},{"id":"b5cb01af.59482","type":"switch","z":"c5e19556.5b7488","name":"Confirmation","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"COD","vt":"str"},{"t":"cont","v":"CARD","vt":"str"},{"t":"cont","v":"UPI","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":710,"y":100,"wires":[["ddc38fa8.bc9a1"],["ddc38fa8.bc9a1"],["ddc38fa8.bc9a1"]]},{"id":"ddc38fa8.bc9a1","type":"function","z":"c5e19556.5b7488","name":"order-msg","func":"return {topic:msg.topic, payload:\"Customer placed order or reserve table in our restaurant. From- Priya-The Delicious Restaurant\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":100,"wires":[["bec8a1ad.c16e9","bc45a438.80eab8","de091d0a.0d4ce"]]},{"id":"bec8a1ad.c16e9","type":"cloudant out","z":"c5e19556.5b7488","name":"Cloudant-database","cloudant":"b3a46452.f09b98","database":"nodered","service":"node-red-nxpyu-2020--cloudant-1603360300924-83420","payonly":false,"operation":"insert","x":1050,"y":260,"wires":[]},{"id":"ee1d7d2.a9b528","type":"ui_form","z":"c5e19556.5b7488","name":"","label":"","group":"ee50a237.ce31a","order":6,"width":12,"height":2,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":60,"wires":[["ecb9cf36.0b50a"]]},{"id":"cb9fa109.ee7db","type":"ui_text","z":"c5e19556.5b7488","group":"4d464b2d.901504","order":12,"width":12,"height":1,"name":"","label":"Input","format":"{{msg.payload}}","layout":"row-spread","x":130,"y":340,"wires":[]},{"id":"d6e1b027.68673","type":"ui_text","z":"c5e19556.5b7488","group":"ee50a237.ce31a","order":2,"width":12,"height":1,"name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":420,"wires":[]},{"id":"24aeea74.7d3cb6","type":"ui_audio","z":"c5e19556.5b7488","name":"","group":"ee50a237.ce31a","voice":"Microsoft Anna - English (United States)","always":"","x":720,"y":280,"wires":[]},{"id":"7e527118.bc525","type":"ui_template","z":"c5e19556.5b7488","group":"4d464b2d.901504","name":"","order":2,"width":12,"height":4,"format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":720,"y":200,"wires":[[]]},{"id":"bc45a438.80eab8","type":"e-mail","z":"c5e19556.5b7488","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"priya.patil2289@gmail.com","dname":"","x":1200,"y":160,"wires":[]},{"id":"de091d0a.0d4ce","type":"twilio out","z":"c5e19556.5b7488","twilio":"2f58fcdc.9c54a4","twilioType":"sms","url":"","number":"+918459455077","name":"twillio","x":1210,"y":60,"wires":[]},{"id":"b3a46452.f09b98","type":"cloudant","z":"","host":"3e500f71-6aff-4f56-b61d-c6b9a8299238-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"ee50a237.ce31a","type":"ui_group","z":"","name":"Priya Restaurant Assistant","tab":"5ddd4c07.919a74","order":2,"disp":false,"width":22,"collapse":false},{"id":"4d464b2d.901504","type":"ui_group","z":"","name":"Priya Restaurant Assistant","tab":"5ddd4c07.919a74","order":null,"disp":true,"width":"22","collapse":true},{"id":"2f58fcdc.9c54a4","type":"twilio-api","z":"","name":"","sid":"AC7c42e23d177eaffec63dd044f4f97a7b","from":"+12318192608"},{"id":"5ddd4c07.919a74","type":"ui_tab","z":"","name":"Priya - THe Delicious Restaurant","icon":"dashboard","disabled":false,"hidden":false}]